/* (Mini) Reset do CSS para resetar as propriedades mais comuns
que são aplicadas pelo navegador, a fim de eliminar possíveis 
incompatibilidades entre navegadores. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: initial;
    font-weight: initial;
    text-align: initial;
}

/* Estilos definidos para a página de documentação */

body {
    width: 90%;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

h1 {
    font-size: 32pt;
}

h2 {
    font-size: 26pt;
    margin-top: 10px;
}

h3 {
    font-size: 22pt;
}

h4 {
    font-size: 18pt;
}

p, table {
    margin: 20px 0;
}

p {
    line-height: 1.5;
    font-size: 16pt;
    margin-left: 20px;
    text-align: justify;
}

table {
    border-spacing: 0;
}

caption {
    caption-side: bottom;
}

tr:nth-child(odd) {
    background-color: #cecece;
}

td, th {
    font-size: 16pt;
    padding: 10px 20px;
    border: none;
}

tr:first-child {
    border-top: 2px solid #333;
}

tr:last-child {
    border-bottom: 2px solid #333;
}

.propriedade {
    border-right: 2px solid #333;
}

.conteiner {
    height: 300px;
    background-color: antiquewhite;
    border: 5px solid #f00;
}

.contido {
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 5px solid #00f;
}

.display-flex {
    display: flex;
}

.justify-content-center {
    justify-content:;
}